@utility grid-auto-fill-* {
  --min: calc(--value(number) * 1px);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--min)), 1fr));
}
@utility grid-auto-fit-* {
  --min: calc(--value(number) * 1px);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}
